body {
    background-color: antiquewhite;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


label {
    text-align: center;
    font-weight: bold;
}

#username-field {
    margin: 1em;
}



.tetris-logo {
    text-align: center;
    margin-left: 1.5em;
    padding-bottom: 2em;

}

.tetris-logo > img {
    width: 20%;
    height: 15%;
}
